.blueBox{
  background-color: rgb(50, 50, 221);
  width: 250px;
  height: 250px;
}

.redBox{
  background-color: rgb(226, 101, 101);
  width: 150px;
  height: 150px;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}