.pairName {
  color: rgb(4, 78, 157);
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.characters {
  color: rgb(70, 9, 114);
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
