.contenedor {
  display: flex;
  height: 100px;
  background-color: cornflowerblue;
}

.contenedor {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item {
  display: inline-block;
  background-color: cadetblue;
  margin-left: 20px;
  margin-right: 20px;
}
