.container {
  width: 86%;
  max-width: 600px;
  margin: 0 auto; /*para centrarlo dentro del body*/
  display: flex; /*para centrarlo verticalmente* en el body*/
  align-items: center;
  height: 100vh;
}
