<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./style.css">
    <title>1.4.8: Ejercicio 8</title>
</head>
<body>
    <!--Crear una página con un texto simple centrado que ocupe el 100% de la pantalla hasta un máximo de 600 píxeles. Este texto deberá tener un título, un autor y una fecha de creación organizado de la siguiente forma.
    Además deberá tener una cabecera con un fondo que ocupe toda la pantalla y un contenido que ocupe el mismo ancho que el texto. A su vez, tendrá que tener también un footer que se quede pegado en la parte inferior de la página. Cuando haya poco texto se mantendrá ahí y cuando aparezca mucho más texto se irá hacia abajo, siempre al final de la página.-->

    <header>
        <h1>Mi blog</h1>
        <nav>
            <ul>
                <li>
                    <a href="">Inicio</a>
                </li>
                <li>Archivo</li>
                <li>Contacto</li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>El veloz murciélago hindú</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero tempore voluptate delectus placeat vel cupiditate nemo illum iste doloremque molestias non iusto quo at, sed voluptatibus vero aliquam! Pariatur, facere!</p>
        </section>
    </main>
    <footer>
        &copy;Copyright María S
    </footer>    
</body>
</html>