.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  background-color: aliceblue;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  display: block;
  width: 200px;
  height: 300px;
}

.image {
  height: 100%;
  width: 100%;
}
.item .special {
  order: 3;
}
